.jumbo-container{
    position:relative;
    overflow: hidden;
    min-height: 93.9vh;
    background: rgb(100,65,233);
    background: linear-gradient(293deg, rgba(99, 65, 233, 0.199) 0%, rgba(21, 68, 70, 0.822) 100%);
   
}
.jumbo-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 200px;
    opacity: 0.6;
}
.jumbo-content{
    color: white;
    height: auto;

}